NEXT_PUBLIC_SITE_URL=http://localhost:3000

ADMIN_USERNAME=owner
ADMIN_PASSWORD=change-this-password
ADMIN_SESSION_SECRET=change-this-super-secret-value

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
